# virtual environment
.venv/

# fire detection ai
fire_detection_ai/runs/detect/predict*
fire_detection_ai/dataset*

# pose detection ai
pose_detection_ai/dataset*
pose_detection_ai/runs/pose/predict*

# pycache
__pycache__/

# downloaded images
simple_images/

# downloaded videos from youtube
videos/

# synced pictures
uploads/