# virtual environment
.venv/

# fire detection ai
fire_detection_ai/runs/detect/predict*
fire_detection_ai/dataset*

# downloaded images
simple_images/

# downloaded videos from youtube
videos/

# synced pictures
uploads/


pose_detection_ai/dataset*


pose_detection_ai/runs/pose/predict*