# virtual environment
.venv/

# fire detection ai
fire_detection_ai/runs
fire_detection_ai/dataset
fire_detection_ai/new_dataset

# downloaded images
simple_images/

# downloaded videos from youtube
videos/

# synced pictures
uploads/